{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Pacebook/org/DjangoA</title>

</head>

<body>
    <!-- Navbar -->
    <!-- header in the navabr.html -->
    {% include 'navbar.html' %}
    <!-- End Navbar -->

    <!-- Message Login -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- Message Login -->

    <!-- Content -->
    {% block content %} {% endblock content %}
    <!-- End Content -->

    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>

</html>